<h1>Repos</h1>

<ul [@listStagger]="repos$">
  <li *ngFor="let repo of repos$">
    <a routerLink="/commits/{{repo.id}}">{{ repo.name }}</a>
    <ul>
      <li> {{repo.language}} </li>
      <a routerLink="/releases/{{repo.releases_url}}"> Releases</a>
      <li><a href="http://{{ repo.url }}">{{ repo.url }}</a></li>
      
    </ul>
  </li>
</ul>

<!-- <ul [@listStagger]="users$">
  <li *ngFor="let user of users$">
    <a routerLink="/details/{{user.id}}">{{ user.name }}</a>

    <ul>
      <li>{{ user.email }}</li>
      <li><a href="http://{{ user.website }}">{{ user.website }}</a></li>
    </ul>
  </li>
</ul> -->
