<h1> Commits</h1>

<ul>
  <li>
    <strong>Commiter name:</strong> {{ commit$.commiter.name }} </li>


  <li>
    <strong>Avatar:</strong>
    <img src='{{ commit$.author.avatar_url }}'> </li>
  <li>
    <strong>Comments:</strong>
</ul>