<h1>Releases</h1>
<ul [@listStagger]="repos$">
  <li *ngFor="let repo of repos$">
    <a routerLink="/commits/{{repo.id}}">{{ repo.name }}</a>
    <ul>
      <li> {{repo.language}} </li>
      <a routerLink="/releases/{{repo.releases_url}}"> Releases</a>
      <li><a href="http://{{ repo.url }}">{{ repo.url }}</a></li>
      
    </ul>
  </li>
</ul>


<!-- <ul [@listStagger]="posts$">
  <li *ngFor="let post of posts$">
    <a routerLink="">{{ post.title }}</a>

    <p>{{ post.body }}</p>
  </li>
</ul> -->
